#stars,
#stars2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

#stars {
	background-image:
		radial-gradient(1px 1px at 20px 30px, var(--color1), rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 40px 70px, var(--color2), rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 50px 160px, var(--color3), rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 90px 40px, var(--color4), rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 130px 80px, var(--color5), rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 160px 120px, var(--accent), rgba(0, 0, 0, 0));
	background-repeat: repeat;
	background-size: 200px 200px;
	animation: animateStars 77s linear infinite;
	opacity: 1;
}


/* Styling for the larger stars */
#stars2 {
	background-image:
		radial-gradient(2px 2px at 10px 20px, var(--color1), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 30px 60px, var(--color2), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 40px 150px, var(--color3), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 80px 30px, var(--color4), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 120px 70px, var(--color5), rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 150px 110px, var(--accent), rgba(0, 0, 0, 0));
	background-repeat: repeat;
	background-size: 300px 300px;
	animation: animateStars 37s linear infinite;
	opacity: .7;
}

/* Animation for the cosmic dust effect */
@keyframes animateStars {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(-200px, 200px);
	}
}
